<ul style="list-group list-group-flush">
  <% for task in @sorted_tasks  %>
    <li class="list-group-item task-list-item <%= task.completed ? 'completed-task' : '' %>">
      <% if !task.completed %>
        <%= link_to '', project_task_complete_path(project_id: @project.id, task_id: task.id), class: 'fa fa-square-o pr-2' %>
      <% else %>
        <%= link_to '', project_task_uncomplete_path(project_id: @project.id, task_id: task.id), class: 'fa fa-check-square-o pr-2' %>
      <% end %>

      <%= task.description %>

      <div class="task-action">
        <%= link_to '', edit_project_task_path(project_id: @project.id, id: task.id), class: 'fa fa-edit' %>
        <%= link_to '', project_task_path(project_id: @project.id, id: task.id), method: :delete, class: 'fa fa-trash' %>
      </div>
    </li>
  <% end %>
</ul>
