<p id="notice"><%= notice %></p>

<% unless current_user %>
  <div class="hero-unit">
    <h1>Welcome</h1>
    <p>This is a simple todo application built with Rails 6.</p>
    <p>Please <%= link_to "Sign Up", signup_path %> or <%= link_to "Log In", login_path %> to continue.</p>
  </div>
<% else %>

  <h1>My Projects</h1>
  <br>
  <div class="list-group">
    <% @projects.each do |project| %>
      <%= link_to project, class: 'list-group-item list-group-item-action flex-column align-items-start' do %>
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= project.title %></h5>
          <small><%= project.tasks.remaining.count %> tasks remaining</small>
        </div>
        <p class="mb-1"><%= project.description %></p>
      <% end %>
    <% end %>
  </div>
  <br>

	<%= link_to 'New Project', new_project_path, class: 'btn btn-primary' %>
<% end %>
