<p id="notice"><%= notice %></p>

<div class="form-inline">
  <h3>
    <%= @project.title %>
  </h3>
  <%= link_to '  ', edit_project_path(@project), class: 'project-edit fa fa-edit' %>
  <%= link_to ' ', @project, class: 'project-edit fa fa-trash', method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

<div class="container">
  <p>
  <%= @project.description %>
  </p>
</div>

<h6 class="task-header">Tasks</h6>

<div class="task-list">
  <ul style="list-group list-group-flush">
    <%= render 'projects/tasks' %>
    <%= render "projects/task_form" %>
  </ul>
</div>

<%= link_to '  Back', projects_path, class: 'fa fa-arrow-left btn btn-default' %>
