<p id="notice"><%= notice %></p>

<div class="form-inline">
  <h3>
    <%= @project.title %>
  </h3>
  <%= link_to '  ', edit_project_path(@project), class: 'project-edit fa fa-edit' %>
</div>

<div class="container">
  <p>
  <%= @project.description %>
  </p>
</div>


<div class="task-list">
<ul style="list-group list-group-flush">
<%= render 'projects/tasks' %>
<%= render "projects/task_form" %>
</ul>
</div>

<%= link_to '  Back', projects_path, class: 'fa fa-arrow-left' %>
